.box {
    height: 400px;
    color: rgb(53, 148, 132);
    padding: 20px;
    background: rgb(250, 253, 253);
  }
  
  .margin-top-80 {
    margin-top: 80px;
  } 
  
  body {
    background:rgb(200, 200, 200)
  }